@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: url('https://ranjeet.blr1.cdn.digitaloceanspaces.com/assets/bg.png');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-parent {
  background: url('https://ranjeet.blr1.cdn.digitaloceanspaces.com/assets/bg.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}